<div>
  <!-- UC3 Ability To launch BridgeLabz Site in a new Tab on clicking BridgeLabz Logo -->
  <img  [src]="imgUrl" (click)="onClick($event)" alt="#Briglabz">

  <!-- UC1 :- Create a Helloworld Angular Appto display “Hello from BridgeLabz”  -->
  <h1>Hello from BridgeLabz</h1>
  
<!-- UC2 To display BridgeLabz Logousing Property Binding Technique -->
  <h2> {{this.title}}</h2>

  <!-- UC4 To display Hello from BridgeLabz with a user inputted name  -->
  <input maxlength="10" (input)="onInput($event)" [(ngModel)]="userName"/>
   <span class=error-output>{{this.nameError}}</span>
</div>